<nav class="navbar bg-white d-flex justify-content-between border default bottom py-0" (isEnglish)="isEnglish = $event">
    <a class="d-flex justify-content-center align-items-center text-primary" routerLink="/">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" width="24px" height="24px">
            <path stroke-linecap="round" stroke-linejoin="round"
                  d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
        </svg>
    </a>

    <div class="d-flex align-items-center gap-3">
        <app-button (onClick)="changeLanguage()">
            <div class="d-flex align-items-center gap-2">
                <svg class="m-inline-end-2" xmlns="http://www.w3.org/2000/svg" fill="none" width="18" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9" />
                </svg>

                <span class="font-16">
                    {{ isEnglish ? 'العربية' : 'English' }}
                </span>
            </div>
        </app-button>

        <app-button (onClick)="logOut()" routerLink="/login">
            <div class="d-flex align-items-center gap-2">
                <svg class="text-danger" xmlns="http://www.w3.org/2000/svg" fill="none" width="18" viewBox="0 0 24 24"
                     stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
                </svg>

                <span style="width: max-content;">{{ 'ACCOUNT.LOGOUT' | translate }}</span>
            </div>
        </app-button>
    </div>
</nav>
